<div class="content">
  <angular2-multiselect class="select-coureses" [data]="dropdownList" [(ngModel)]="selectedItems"
    [settings]="coursesDropdownSettings">
    Select Coureses
  </angular2-multiselect>
  <angular2-multiselect class="select-coureses" [data]="dropdownList" [(ngModel)]="selectedItems"
    [settings]="studentsDropdownSettings">
    Select Coureses
  </angular2-multiselect>
  <button>Calculate</button>

  <div class="calculated-value" *ngIf="average.total">
    <span class="results">Results:</span>
    <div class="course" *ngFor="let course of selectedCourses">
      {{ average[course] }}
    </div>

    <div class="total">
        Total: {{ average.total }}
      </div>
  </div>
</div>
