<mat-drawer-container class="example-container"> 

  <mat-drawer mode="side" opened>
    <div class="tab">
      <a routerLink="/students"
      routerLinkActive="active">
        Student List
      </a>
    </div>
    <div class="tab">
      <a routerLink="/courses" routerLinkActive="active">
        Course List
      </a>
    </div>
    <div class="tab">
      <a routerLink="/stats" routerLinkActive="active">
        Stats
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>